{% extends "base.html" %}
{% block title %}
Login
{% endblock %}
{% block content %}
<div class="form-container">
    <p class="title">Welcome back</p>
    <form class="form" method="post" action="/process-login">
    <!-- Display flash message inside form -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}" style="color: red; margin-bottom: 10px;">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
            <!-- Error message block end-->
      <input type="email" name="email" class="input" placeholder="Email" >
      <input type="password" name="password" class="input" placeholder="Password" >

      <button class="form-btn">Log in</button>
    </form>
    <p class="sign-up-label">
      Don't have an account?<a class="sign-up-link" href="{{url_for('sign_up')}}">Sign up</a>
    </p>

{% endblock  %}